html {
    box-sizing: border-box;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  .body{
      /* width: 100vw; */
      min-height: 100vh;
      background-color: #2C2141;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .main{
      width: 624px;
      /* height: 320px; */
      background-color: #F8F8F8;
      border-radius: 16px;
      margin: 16px;

  }

  .avatar{

  }

  .section__header{
    font-family: Arial, Helvetica, sans-serif;

  }

  .section__header--name{
      line-height: 22px;

  }

  .section__header--descrription{

  }

  .section_article--description{

  }

  .section_article--contect{

  }